.bg-primary {
    background-color: var(--bs-primary) !important;
    color: var(--bs-white) !important;
}
.bg-secondary {
    background-color: var(--bs-secondary) !important;
    color: var(--bs-white) !important;
}

.text-bg-disabled {
    background-color: var(--almost-white);
    color: var(--medium-blue);
}
