.btn-with-icon {
    .icon,
    svg {
        height: 1.5em;
        margin-right: 0.5em;
    }
}
.btn-remove-projeto {
    margin-left: auto;
}

.btn-no-style {
    background-color: transparent;
    border: none;
}

button svg {
    pointer-events: none;
}
