:root {
    --medium-blue: #7c8fac;
    --medium-plus-blue: #5a6a85;
    --white: #fff;
    --almost-white: #e3e7ed;
    --orange: #f8a049;
    --light-pink: #ffa9a9;
    --input-bd-color: #dfe5ef;
}
