:root {
    --light-blue: #e7f0ff;
    --medium-blue: #7c8fac;
    --medium-plus-blue: #5a6a85;
    --white: #fff;
    --black: #000;
    --almost-white: #e3e7ed;
    --orange: #f8a049;
    --light-pink: #ffa9a9;
    --input-bd-color: #dfe5ef;
    --black-50: #00000075;
    --white-0: #ffffff00;
}
