textarea.form-control {
    text-align: left;
    resize: none;
}
.green-input {
    .form-control,
    .form-control:disabled,
    .input-group-text {
        background-color: var(--bs-success);
        border-color: var(--bs-success);
        color: var(--bs-white);
    }
}
.pink-input {
    .form-control,
    .form-control:disabled,
    .input-group-text {
        background-color: var(--light-pink);
        border-color: var(--light-pink);
        color: var(--bs-white);
    }
}

.form-control {
    &.focus-input {
        border-width: 0;
        &.show-bd {
            border-width: 1px;
        }
    }
}

.invisible-input {
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 1em;
    color: inherit;
    field-sizing: content;
    &:focus {
        outline: none;
    }
}
