.modal {
    .modal-dialog {
        .modal-content {
            border-radius: 20px;
            video {
                max-height: calc(90vh - 132px);
                max-width: 100%;
                object-fit: contain; /* Ensures the video maintains its aspect ratio */
                display: block;
                margin: 0 auto;
            }
        }
    }
}

@media (min-width: 768px) {
    .modal {
        .modal-dialog {
            .modal-header {
                padding: 40px;
            }
            &.modal-extra-padding {
                .modal-body,
                .modal-footer {
                    padding-inline: 80px;
                }
                .modal-footer {
                    padding-bottom: 80px;
                }
            }
        }
    }
}
