.search-input {
    background-image: url(../icons/icon-spy-glass.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 24px;
    padding-right: 45px;
}
