.admin-bar {
    // padding-top: 46px;
    .topbar {
        top: 46px;
    }
}

@media (min-width: 768px) {
    .admin-bar {
        // padding-top: 32px;
        .topbar {
            top: 32px;
        }
    }
}

.sidebar-link {
    svg {
        path {
            stroke: var(--bs-primary);
        }
    }
    &.active {
        svg {
            path {
                stroke: white;
            }
        }
    }
}

.user-profile-name {
    font-size: 0.875rem;
    line-height: 1.2em;
    padding-right: 8px;
}
